body {
  background-color: lightblue;
}

tr.selected {
	background: lightblue;
}

tr {
	cursor: pointer;
	background: "lightgrey";
}

table {
	border: "1";
}



#error {
	color: red;
}

#success {
	color: green;	
}